body{
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}
h1{
    font-size:2em;
    font-weight: bold;
}
h2{
    font-weight: bold;
}
.container{
    max-width: 1440px;
    width:100%;
    margin:0 auto;
}

.text-center{
    text-align: center;
}

.section-padding{
    padding: 40px 60px;
}

.italic{
    font-style: italic;
}

.gallery-grid{
    --grid-gap:20px;
    --grid-item-height:270px;
    margin-top: 24px;
    display: grid;
    width:100%;
    grid-template-columns: .25fr .25fr .25fr .25fr;
    gap:var(--grid-gap);
    grid-auto-rows: var(--grid-item-height);
    grid-auto-flow: dense;
}
.gallery-item{
    border:1px solid grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.gallery-item figcaption{
padding: 12px;
flex-grow: 0;
flex-shrink: 0;
}

.gallery-item a{
    flex-grow: 1;
    flex-shrink: 1;
    overflow: hidden;
}
.gallery-item a img{
    object-fit: cover;
    width: 100%;
    height:100%;
    transition:transform 300ms;
}
.gallery-item:hover a img{
    transform:scale(1.05);
}

.gallery-item-large{
    grid-column-end: span 2;
    grid-row-end: span 2;
}
.gallery-item-vert{
    grid-row-end:span 2;
}

#PageHeader h1{
    text-align: center;
    margin-bottom: 40px;
}
#HeaderBody p{
    margin-bottom: 20px;
}
