---
layout: layout.liquid
title: Home Page
---

<section id="PageHeader" class="section-padding">
    <div class="container">
      <h1>analog photography by alec</h1>
    </div>
  </section>
  <section class="section-padding">
    <div class="container">
      <div id="HeaderBody">
        <p>one time i was in nyc with some friends and one of them pulled out a 35mm camera. <br> she took pictures of us throughout the night and afterwards i forgot about it entirely. <br> a few weeks later those pictures made it back to me - they were washed out, grainy and the date stamp glowed in the corner.</p>

          <p class="italic">i immediately fell in love with those photos.</p>
          
          <p>these pictures are a product of that spark of inspiration.</p>
      </div>
    </div>
  </section>

  {% include 'components/gallery', gallery:kodak-porta-800 %}
  
  <section class="gallery section-padding">
    <div class="container">
      <h2>pentax iqzoom 60-r || lomography color negative 800</h2>
      <p>i took a trip to nyc for a halloween party & a show my friend performed</p>
      <div class="gallery-grid">
        <figure class="gallery-item gallery-item-large">

        </figure>
        <figure class="gallery-item">

        </figure>
        <figure class="gallery-item">

        </figure>
        <figure class="gallery-item">
          
        </figure>
        <figure class="gallery-item">
          
        </figure>
        <figure class="gallery-item">
          
        </figure>
        <figure class="gallery-item">
          
        </figure>
        <figure class="gallery-item">

        </figure>
        <figure class="gallery-item">
          
        </figure>
        <figure class="gallery-item">
          
        </figure>
        <figure class="gallery-item">

        </figure>
        <figure class="gallery-item">

        </figure>
        <figure class="gallery-item">

        </figure>
      </div>
    </div>
  </section>
  <section class="gallery section-padding">
    <div class="container">
      <h2>pentax iqzoom 60-r || dubblefilm treat 400 (25)</h2>
      <p>my first foray</p>
      <div class="gallery-grid">

        <figure class="gallery-item">
          
        </figure>
        <figure class="gallery-item">
          
        </figure>
        <figure class="gallery-item gallery-item-vert">
          
        </figure>
        <figure class="gallery-item">
          
        </figure>
        <figure class="gallery-item gallery-item-vert">

        </figure>
        <figure class="gallery-item">
          
        </figure>
        <figure class="gallery-item">
          
        </figure>
        <figure class="gallery-item">

        </figure>
        <figure class="gallery-item">

        </figure>
        <figure class="gallery-item">

        </figure>
      </div>
    </div>
  </section>

<script src="{{'/assets/scripts/home.js' | url}}"></script>